<div class="row">
  <div class="col-md-8 pl-md-0" id="eventInfo">
    <form #eventForm="ngForm">
      <div class="container">
        <div class="row form-group">
          <label for="formGroupInput" class="form-control-label" [translate]="'NAME'"></label>
          <input type="text" class="form-control" id="formGroupInput" placeholder="{{ 'INSERT_EVENT_NAME' | translate }}" name="group"
            [(ngModel)]="event.name" required minlength="5" maxlength="140" [disabled]="!isCreate">
        </div>
        <div class="row">
          <div class="col-md-6 pl-0 pr-0 pr-md-1 form-group">
            <label for="date_start" class="form-control-label" [translate]="'DATE_START'"></label>
            <input type="text" class="form-control" id="date_start" placeholder="12.11.2017" [(ngModel)]="event.startDate" name="date">
          </div>
          <div class="col-md-6 pr-0 pl-0 pl-md-1 form-group">
            <label for="date_end" class="form-control-label" [translate]="'DATE_END'"></label>
            <input type="text" class="form-control" id="date_end" placeholder="12.11.2017" [(ngModel)]="event.endDate" name="date">
          </div>
        </div>
        <div class="row form-group">
          <label for="location" class="form-control-label" [translate]="'LOCATION'"></label>
          <input type="text" class="form-control" id="location" placeholder="Ševčenkova 34" [(ngModel)]="event.location" name="location">
        </div>
        <div class="row form-group">
          <label for="formDescInput" class="form-control-label" [translate]="'DESCRIPTION'"></label>
          <textarea type="text" class="form-control" id="formDescInput" rows="6" placeholder="{{ 'INSERT_EVENT_DESCRIPTION' | translate }}"
            name="description" [(ngModel)]="event.description"></textarea>
        </div>
        <div class="row">
          <div class="col form-group">
            <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample" [translate]="!isCollapsed ? 'MORE_OPTIONS' : 'LESS_OPTIONS'"></button>
          </div>
        </div>
        <div id="collapseExample" [ngbCollapse]="!isCollapsed">
          <app-attribute-creator [event]="event"></app-attribute-creator>
        </div>
        <div class="row justify-content-end">
          <button type="button" class="btn btn-secondary ml-1" (click)="cancel()" [translate]="'CANCEL'"></button>
          <button type="button" class="btn btn-primary ml-1" *ngIf="isCreate" (click)="create()" [disabled]="!eventForm.form.valid"
            [translate]="'CREATE'"></button>
          <button type="button" class="btn btn-primary ml-1" *ngIf="!isCreate" (click)="edit()" [disabled]="!eventForm.form.valid"
            [translate]="'EDIT'"></button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4 pr-md-0 pl-md-0" id="participantList">
    <app-participant-list [event]="event"></app-participant-list>
  </div>
</div>