<div class="row">
  <div class="col-md-8 pl-md-0" id="eventInfo">
    <form #eventForm="ngForm">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="formGroupInput" class="form-control-label" [translate]="'NAME'"></label>
              <input type="text" class="form-control" id="formGroupInput" placeholder="{{ 'INSERT_EVENT_NAME' | translate }}" name="group"
                [(ngModel)]="event.name" required minlength="5" maxlength="140" [disabled]="!isCreate">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="date_start" class="form-control-label" [translate]="'DATE_START'"></label>
              <input type="text" class="form-control" id="date_start" name="group" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()"
                mindate="{year: today.getYear(), month: today.getMonth(), day: today.getDay()}" [(ngModel)]="event.startDate"
                readonly/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="date_end" class="form-control-label" [translate]="'DATE_END'"></label>
              <input type="text" class="form-control" id="date_end" name="group" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()"
                minDate="new Date()" [(ngModel)]="event.endDate" readonly/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="location" class="form-control-label" [translate]="'LOCATION'"></label>
              <input type="text" class="form-control" id="location" placeholder="Ševčenkova 34" [(ngModel)]="event.location" name="group">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="formDescInput" class="form-control-label" [translate]="'DESCRIPTION'"></label>
              <textarea type="text" class="form-control" id="formDescInput" rows="6" placeholder="{{ 'INSERT_EVENT_DESCRIPTION' | translate }}"
                name="group" [(ngModel)]="event.description"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <div class="form-group">
                <button type="button" class="btn btn-secondary ml-1" (click)="cancel()" [translate]="'CANCEL'"></button>
                <button type="button" class="btn btn-primary ml-1" *ngIf="isCreate" (click)="create()" [disabled]="!eventForm.form.valid"
                  [translate]="'CREATE'"></button>
                <button type="button" class="btn btn-primary ml-1" *ngIf="!isCreate" (click)="edit()" [disabled]="!eventForm.form.valid"
                  [translate]="'EDIT'"></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4 pr-md-0 pl-md-0" id="participantList">
    <app-participant-list [event]="event"></app-participant-list>
  </div>
</div>