<!--div class="text-danger">{{errorMessage}}</div-->

<div *ngIf="!retreiveData">
  <app-event-filter (reloadedEvents)="reloadEvents($event)"></app-event-filter>
  <app-event-card class="w-100" [event]="event" (delete)="deleteEvent($event)" (edit)="openEvent($event)" (join)="joinEvent($event)" (leave)="leaveEvent($event)" *ngFor="let event of events; let i = index;"></app-event-card>
  <h3 id="noResultsText" *ngIf="events && events.length === 0">{{ 'NO_RESULTS' | translate }}</h3>
</div>
<div *ngIf="retreiveData">
  <app-loader></app-loader>
</div>
