<section class="row mt-2 mb-2 w-100 px-0 mx-0">
  <div class="col-sm-12 px-0">
    <div class="card text-white cursor-click" id="test-edit">
      <div class="card-header" data-toggle="tooltip" data-placement="top" title="Edit - {{event.name}}" (click)="openEvent()">
        <div class="row">
          <div class="col-12 col-sm-9">
            <h3 id="test-event-name">{{event.name}}</h3>
          </div>
          <div class="col-12 col-sm-3">
            <h5 class="text-left w-100"> 
              <i class="fa fa-calendar"></i>
              {{event.startDate | eventDatePipe:event.endDate}}
            </h5>
            <h5 class="text-left w-100">
              <i class="fa fa-location-arrow"></i>
              {{event.location | eventLocationPipe}}
            </h5>
          </div>
        </div>
      </div>
      <div class="card-body" (click)="openEvent()">
        <div class="row w-100">
          <div class="col-12">
            <div class="row ml-2">
              <small [innerHTML]=event.description></small>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row w-100">
          <div class="col">
            <div class="button-container">
              <join-button [event]="event"></join-button>
              <!--TODO delete will be visible only for user with admin role-->
              <button type="button" class="btn btn-light delete-button" id="test-delete" (click)="deleteEvent()">
                <i class="fa fa-trash"></i>
                {{ 'DELETE' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>