@import "../../../../styles.scss";

//card header
//------------------------------------------

.card {
  background-color: $blue !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  // hover out effect
  transition: all 200ms ease-in-out;
}

.card:hover{
  background-color: $light-blue !important;
  box-shadow: 0 3px 20px rgba(0,0,0,0.49), 0 3px 6px rgba(0,0,0,0.53);
  transition: all 200ms ease-in-out;
}

//card body
//------------------------------------------
.card-body {
  padding: 10px;
}

//card footer
//------------------------------------------
.card-footer {
  padding: 10px;

  button {
    width: auto;
    height: 35px;
    padding: 5px 10px;
  }

  button + button {
    margin-left: 10px;
  }

  .btn-light {
    background-color: white;
  }

  .btn-light:hover {
    background-color: $blue;
    color: white;
    border-color: black;
  }
}

.joined-button {
  background: #b0d57c !important;
  color: #000000;
  border-color: #b0d57c;

  .button-default {
    display: block;
  }
  .button-hover {
    display: none;
  }
}
.joined-button:hover {
  background: #ff9b9c !important;
  color: #000000 !important;
  border-color: #ff9b9c !important;
  .button-default {
    display: none;
  }
  .button-hover {
    display: block;
  }
}
