<div class="row">
    <div class="col-12 col-md-8">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search in events..." (keydown)="searchEventsOnEnter($event)"/>
    </div>
    <div class="col-12 col-md-4">
        <button class="pull-right" placement="top" ngbTooltip="Create" (click)="createEvent()">
            <i class="fa fa-plus"></i>
        </button>
        <button class="pull-right" placement="top" ngbTooltip="Joined" [ngClass]="joined ? 'active': ''" (click)="toggleJoined()">
            <i class="fa fa-check"></i>
        </button>
        <button class="pull-right" placement="top" ngbTooltip="Search" (click)="reloadEvents()">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>