//card header
//------------------------------------------
.card-header{
  background: #123372;
}

.card-header:hover{
  color: #00a5db;
}

//card body
//------------------------------------------
.card-body {
  padding: 10px;
}

//card footer
//------------------------------------------
.card-footer {
  padding: 0px 0px 2px 10px;
}

.card-footer button{
  padding: 0px;
  width: 70px;
  height: 30px;
}

