<section class="row mt-2 mb-2 w-100 px-0 mx-0" >
  <div class="col-sm-12 px-0">
    <div class="card bg-primary text-white" (mouseenter)="toggleButtonMenu()" (mouseleave)="toggleButtonMenu()">
      <div class="card-header" (click)="editEvent()" data-toggle="tooltip" data-placement="top" title="Edit - {{event.name}}">
        <div class="row">
          <div class="col-12 col-sm-9"><h3>{{event.name}}</h3></div>
          <div class="col-12 col-sm-3">
            <h5 class="text-left w-100 fa fa-calendar"> 1.1.2018 - 1.1.2018</h5>
            <h5 class="text-left w-100 fa fa-location-arrow"> Bratislava</h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="row ml-2">
              <small [innerHTML]=event.description></small>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-12 card-buttons" [@buttonMenuSlideInOut]="buttonMenuState">
            <button type="button" class="btn btn-outline-success">Join</button>
            <!--TODO delete will be visible only for user with admin role-->
            <button type="button" class="btn btn-outline-danger" (click)="deleteEvent()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
