<ng-template #content>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" [translate]="'INVITE_PEOPLE'"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6>Insert emails:</h6> 
    <tag-input [(ngModel)]="emails"
        [(inputText)]="inputText"
        [modelAsStrings]="true"
        [editable]="true"
        (onTagEdited)="onTagEdited($event)"
        [removable]="true"
        [addOnBlur]="true"
        [addOnPaste]="true"
        [validators]="validators"
        [errorMessages]="errorMessages"
        [dragZone]="'inviteEmails'"
        [theme]="'app-theme'"
        placeholder="+ email"></tag-input>
    <p class="footnote" [innerHtml]="'INVITE_HINT' | translate"></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" [translate]="'INVITE'" (click)="sendInvitation()"></button>
  </div>
</ng-template>
