.footer {
  background: center bottom no-repeat #ddeaee;
  clip-path: polygon(0 0,100vw 15%,100vw 100%,0 100%);
  -webkit-clip-path: polygon(0 0,100vw 15%,100vw 100%,0 100%);
  padding: 100px 0 50px 0;
  position: relative;
  margin-top: 100px;
  z-index: 5;
}

.footer-icon {
  border-radius: 1000px;
  background: #7f7f7f;
  padding: 8px 0;
  width: 40px;
  color: #FFFFFF;
  margin-left: 20px;
  margin-bottom: 20px;
  float: left;
}

.footer-icon:first-child {
  margin-left: 0;
}

.footer-icon:hover {
  background: #123372;
}

.swall {
  display: inline-block;
  background: url("assets/images/coat-of-arms-01-white.png") center center no-repeat;
  background-size: cover;
  width: 14px;
  height: 14px;
  margin-right: 0px;
  margin-top: 4px;
}

.footer-icons {
  width: 400px;
  margin: 0 auto;
}

@media (max-width: 400px)
{
  .footer-icon:nth-child(5) {
    clear: both;
  }

  .footer-icon:first-child {
    margin-left: 20px;
  }

}

.copyright {
  width: 100%;
  text-align: center;
}