<div class="footer text-center fixed-bottom bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="footer-icons">
                        <a href="https://www.facebook.com/ERNIgroup/" target="_blank" class="footer-icon"
                           placement="top" ngbTooltip="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/ERNI" target="_blank" class="footer-icon" placement="top"
                           ngbTooltip="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCkMDlbcnDtaGBAZyMeDQjSQ" target="_blank"
                           class="footer-icon" placement="top" ngbTooltip="Youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/erni/" target="_blank"
                           class="footer-icon cursor-click" placement="top" ngbTooltip="LinkedIn">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://www.xing.com/companies/erni" target="_blank" class="footer-icon cursor-click"
                           placement="top" ngbTooltip="Xing">
                            <i class="fa fa-xing"></i>
                        </a>
                        <a href="https://www.instagram.com/ernigroup/" target="_blank" class="footer-icon cursor-click"
                           placement="top" ngbTooltip="Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="" target="_blank" class="footer-icon cursor-click" placement="top"
                           ngbTooltip="SocialWall">
                            <i class="swall"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="copyright">
                        <small>©2018 · All rights reserved · ERNI - Swiss Software Engineering</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a href="https://betterask.erni/">
                    <img src="assets/images/better-ask-erni.png" width="100%"/>
                </a>
            </div>
        </div>
    </div>
</div>