<div class="footer text-center fixed-bottom bg-light">
    <div class="row">
        <div class="col-md-8">
            <div class="social-list">
                <a href="https://www.facebook.com/ERNIgroup/" target="_blank" class="social-icon facebook" placement="top" ngbTooltip="Facebook" container="body">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://twitter.com/ERNI" target="_blank" class="social-icon twitter" placement="top" ngbTooltip="Twitter" container="body">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCkMDlbcnDtaGBAZyMeDQjSQ" target="_blank" class="social-icon youtube" placement="top" ngbTooltip="Youtube"
                    container="body">
                    <i class="fa fa-youtube"></i>
                </a>
                <a href="https://www.linkedin.com/company/erni/" target="_blank" class="social-icon linkedin" placement="top" ngbTooltip="LinkedIn"
                    container="body">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://www.xing.com/companies/erni" target="_blank" class="social-icon xing" placement="top" ngbTooltip="Xing"
                    container="body">
                    <i class="fa fa-xing"></i>
                </a>
                <a href="https://www.instagram.com/ernigroup/" target="_blank" class="social-icon instagram" placement="top" ngbTooltip="Instagram"
                    container="body">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="" target="_blank" class="social-icon social-wall" placement="top" ngbTooltip="SocialWall" container="body">
                    <i class="swall"></i>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="non-social-list">
                <a id="betterAskErniRef" href="https://betterask.erni/">
                    <img src="assets/images/better-ask-erni.png" />
                </a>
            </div>
        </div>
    </div>

    <div id="copyright">
        <small>©2018 ERNI, All rights reserved</small>
    </div>
</div>