input.error {
    border: 1px solid red;
}

span.error-message {
    color: red;
    font-size: small;
}

:host {
  width: 100% !important;
}

.edit-button {
  cursor: pointer;
}

.edit-button:hover {
  color: #00a5db;
}

.joined-button {
  background: #b0d57c !important;
  color: #000000;
  border-color: #b0d57c;

  .button-default {
    display: block;
  }
  .button-hover {
    display: none;
  }
}
.joined-button:hover {
  background: #ff9b9c !important;
  color: #000000 !important;
  border-color: #ff9b9c !important;
  .button-default {
    display: none;
  }
  .button-hover {
    display: block;
  }
}

.btn-light {
  background-color: white;
}

// *::-webkit-input-placeholder {
//     color: #cecece !important;
//     font-style: italic;
// }

// /* FF 4-18 */
// *:-moz-placeholder {
//     color: #cecece !important;
//     font-style: italic;
// }

// /* FF 19+ */
// *::-moz-placeholder {
//     color: #cecece !important;
//     font-style: italic;
// }

