<div class="container">
  <div class="row justify-content-between mb-2 align-items-end">
      <div class="col">
          <span class="form-control-label" [translate]="'PARTICIPANTS'"></span>
      </div>
      <div class="col text-right">
          <button type="button" class="btn btn-secondary btn-padding mr-1" title="{{'EXPORT' | translate}}">
              <img [src]="'/assets/images/document-export.svg'" alt="{{'EXPORT' | translate}}" class="btn-icon">
          </button>
          <button type="button" class="btn btn-secondary btn-padding" title="{{'INVITE' | translate}}">
              <img [src]="'/assets/images/invite-people.png'" alt="{{'INVITE' | translate}}" class="btn-icon">
          </button>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-12 border-left pb-1" *ngFor="let participant of iEvent.participants">
          <span class="align-middle d-table-cell" title="{{participant.firstName}} {{participant.lastName}}">
              <img class="avatar" 
                    [src]="participant.gender === 'male' ? '/assets/images/avatar-male.png' : '/assets/images/avatar-female.png'" 
                    alt="avatar_{{participant.firstName}}{{participant.lastName}}"/>
          </span>
          <span class="align-middle d-table-cell pl-2 name">{{participant.firstName}} {{participant.lastName}}</span>
      </div>  
  </div>
</div>
