<div class="container">
  <div class="row justify-content-between mb-2 align-items-end">
      <div class="col">
          <span class="form-control-label" [translate]="'PARTICIPANTS'"></span>
      </div>
      <div class="col text-right">
          <i    title="{{'EXPORT' | translate}}"
                class="fa fa-upload"
                (click)="export()"></i>
          <i  title="{{'INVITE' | translate}}"
                class="fa fa-user-plus"
              (click)="inviteDialog.show()"></i>
      </div>
  </div>
  <app-invite-dialog #inviteDialog="inviteDialog" [iEvent]="iEvent"></app-invite-dialog>
  <hr />
  <div *ngIf="iEvent.limit && (iEvent.limit - iEvent.participants.length > 0)" class="alert alert-success">
      <span [translate]="'PARTICIPATION_LIMIT_START'"></span>
      <b>{{(iEvent.limit - iEvent.participants.length)}}</b>
      <span [translate]="'PARTICIPATION_LIMIT_END'"></span>
  </div>
  <div *ngIf="iEvent.limit && (iEvent.limit - iEvent.participants.length === 0)" class="alert alert-danger">
      <span [translate]="'PARTICIPATION_LIMIT_FULL'"></span>
  </div>
  <div class="row">
      <div class="col-12 border-left pb-1" *ngFor="let participant of participants">
          <span class="align-middle d-table-cell" title="{{participant.firstName}} {{participant.lastName}}">
              <img class="avatar" 
                    [src]="participant.gender === 'male' ? '/assets/images/icons/avatar-male.png' : '/assets/images/icons/avatar-female.png'" 
                    alt="avatar_{{participant.firstName}}{{participant.lastName}}"/>
          </span>
          <span class="align-middle d-table-cell pl-2 name">{{participant.firstName}} {{participant.lastName}}</span>
      </div>  
  </div>
</div>
