<div class="row">
  <div class="col-md-8 pl-md-0" id="eventInfo">
    <form [formGroup]="eventForm" novalidate>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="name" class="form-control-label" [translate]="'NAME'"></label>&nbsp;
              <span class="error-message" 
                    *ngIf="eventForm.controls.name.errors && eventForm.controls.name.errors.required" 
                    [translate]="'ERROR_REQUIRED_FIELD'">&nbsp;</span>
              <span class="error-message" 
                    *ngIf="eventForm.controls.name.errors && eventForm.controls.name.errors.minlength" 
                    [translate]="'NAME.ERROR.MINLENGTH'"
                    [translateParams]="{count: eventForm.controls.name.errors.minlength.requiredLength}"></span>
              <span class="error-message" 
                    *ngIf="eventForm.controls.name.errors && eventForm.controls.name.errors.maxlength" 
                    [translate]="'NAME.ERROR.MAXLENGTH'"
                    [translateParams]="{count: eventForm.controls.name.errors.maxlength.requiredLength}"></span>
              <input type="text"
                    class="form-control" 
                    [ngClass]="{'error' : eventForm.controls.name.invalid}"
                    [readonly]="!isCreate" 
                    id="name" 
                    placeholder="{{ 'INSERT_EVENT_NAME' | translate }}" 
                    formControlName="name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="dateStart" class="form-control-label" [translate]="'DATE_START'"></label>&nbsp;
              <span class="error-message" 
                    *ngIf="eventForm.controls.dateStart.invalid" 
                    [translate]="'ERROR_REQUIRED_FIELD'"></span>
              <input type="date" 
                    class="form-control" 
                    [ngClass]="{'error' : eventForm.controls.dateStart.invalid}"
                    id="dateStart" 
                    formControlName="dateStart">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="dateEnd" class="form-control-label" [translate]="'DATE_END'"></label>&nbsp;
              <span class="error-message" 
                    *ngIf="eventForm.controls.dateEnd.invalid" 
                    [translate]="'ERROR_REQUIRED_FIELD'"></span>
              <input type="date" 
                    class="form-control" 
                    [ngClass]="{'error' : eventForm.controls.dateEnd.invalid}"
                    id="dateEnd" 
                    formControlName="dateEnd">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="location" class="form-control-label" [translate]="'LOCATION'"></label>&nbsp;
              <span class="error-message" 
                    *ngIf="eventForm.controls.location.invalid" 
                    [translate]="'ERROR_REQUIRED_FIELD'"></span>
              <input type="text" 
                    class="form-control" 
                    [ngClass]="{'error' : eventForm.controls.location.invalid}"
                    id="location" 
                    placeholder="Ševčenkova 34" 
                    formControlName="location">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="description" class="form-control-label" [translate]="'DESCRIPTION'"></label>
              <textarea type="text" class="form-control" id="description" rows="6" placeholder="{{ 'INSERT_EVENT_DESCRIPTION' | translate }}" formControlName="description"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="participantsLimit" class="form-control-label" [translate]="'PARTICIPANTS_LIMIT'"></label>
              <input type="number" 
                    class="form-control" 
                    id="participantsLimit" 
                    placeholder="{{ 'INSERT_EVENT_PARTICIPANTS_LIMIT' | translate }}" 
                    formControlName="participantsLimit">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" formGroupName="transport">
              <label for="transport" class="form-control-label" [translate]="'TRANSPORT'"></label>
              <div id="transport" class="form-check">
                <input id="car" 
                      formControlName="car"
                      type="checkbox" 
                      class="form-check-input" 
                      value="car" 
                      [checked]="eventForm.controls.transport.get('car').value">
                <label for="car" class="form-check-label" [translate]="'TRANSPORT_CAR'"></label>
              </div>
              <div id="transport" class="form-check">
                <input id="bus" 
                      formControlName="bus"
                      type="checkbox" 
                      class="form-check-input" 
                      value="bus" 
                      [checked]="eventForm.controls.transport.get('bus').value">
                <label for="bus" class="form-check-label" [translate]="'TRANSPORT_BUS'"></label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="accommodation" class="form-control-label" [translate]="'ACCOMMODATION'"></label>
              <div id="accommodation" class="form-check">
                <input id="accommodation_yes" 
                      formControlName="accommodation"
                      type="radio" 
                      class="form-check-input" 
                      value="true">
                <label for="accommodation_yes" class="form-check-label" [translate]="'ACCOMMODATION_YES'"></label>
              </div>
              <div id="accommodation" class="form-check">
                <input id="accommodation_no" 
                      formControlName="accommodation"
                      type="radio" 
                      class="form-check-input" 
                      value="false">
                <label for="accommodation_no" class="form-check-label" [translate]="'ACCOMMODATION_NO'"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" *ngIf="eventForm.invalid">
            <div class="form-group">
              <span class="error-message" [translate]="'ERROR_REQUIRED_FIELDS'"></span>
            </div>
          </div>
          <div class="col text-right">
            <div class="form-group">
                <button type="button" class="btn btn-secondary ml-1" (click)="cancel()" [translate]="'CANCEL'"></button>
                <button type="button" class="btn btn-primary ml-1" *ngIf="isCreate" (click)="create()" [disabled]="eventForm.invalid" [translate]="'CREATE'"></button>
                <button type="button" class="btn btn-primary ml-1" *ngIf="!isCreate" (click)="edit()" [disabled]="eventForm.invalid" [translate]="'EDIT'"></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4 pr-md-0 pl-md-0" id="participantList">
    <app-participant-list [event]="iEvent"></app-participant-list>
  </div>
</div>