input.error {
    border: 1px solid red;
}

span.error-message {
    color: red;
    font-size: small;
}

// *::-webkit-input-placeholder {
//     color: #cecece !important;
//     font-style: italic;
// }

// /* FF 4-18 */
// *:-moz-placeholder {
//     color: #cecece !important;
//     font-style: italic;
// }

// /* FF 19+ */
// *::-moz-placeholder {
//     color: #cecece !important;
//     font-style: italic;
// }

